/BadgeType.class
/Usericon$Builder.class
/Usericon$MatchType.class
/Usericon$Type.class
/Usericon.class
/UsericonFactory.class
/UsericonManager$1.class
/UsericonManager.class
/UsericonPosition$Ref.class
/UsericonPosition.class
