/FileManager$1.class
/FileManager$2.class
/FileManager$FileContentInfo.class
/FileManager$FileContentInfoProvider.class
/FileManager$FileInfo.class
/FileManager$FileInfos.class
/FileManager$FileSettings.class
/FileManager$SaveResult$Builder.class
/FileManager$SaveResult$CancelReason.class
/FileManager$SaveResult.class
/FileManager.class
/Setting.class
/SettingChangeListener.class
/SettingFileNotFoundException.class
/SettingNotFoundException.class
/Settings.class
/SettingsListener.class
/SubtypeSetting.class
