/Changes$1.class
/Changes.class
/FileDownloader$1.class
/FileDownloader$FileDownloaderListener.class
/FileDownloader.class
/FileDownloaderDialog$1.class
/FileDownloaderDialog$2.class
/FileDownloaderDialog.class
/RunUpdater.class
/Stuff.class
/UpdateDialog$1.class
/UpdateDialog$InstallListener.class
/UpdateDialog.class
/Version$VersionListener.class
/Version.class
