/Calc$1.class
/Calc.class
/CustomCommand.class
/CustomCommands.class
/DateTime.class
/Get.class
/Identifier.class
/If.class
/IfEq.class
/Is.class
/Item.class
/Items.class
/Join.class
/Literal.class
/Lower.class
/Parameters.class
/Parser.class
/Rand.class
/RandNum.class
/RangeIdentifier.class
/Replace.class
/Replacement.class
/Sort.class
/StringReader.class
/Switch.class
/Upper.class
/UrlEncode.class
