/GlobalHotkeySetter$GlobalHotkeyListener.class
/GlobalHotkeySetter.class
/Hotkey$Type.class
/Hotkey.class
/HotkeyAction.class
/HotkeyManager$1.class
/HotkeyManager$2.class
/HotkeyManager$3.class
/HotkeyManager.class
